<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302834322127-50hoe706bkevpd00nbth8c4bhk6h5tes.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302834322127-50hoe706bkevpd00nbth8c4bhk6h5tes</string>
	<key>API_KEY</key>
	<string>AIzaSyAnC-iy8qTEVueMwURVaYVJy4GF-VMW8z0</string>
	<key>GCM_SENDER_ID</key>
	<string>302834322127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.monteiro.monteirolojjja</string>
	<key>PROJECT_ID</key>
	<string>monteirolojjja-ems</string>
	<key>STORAGE_BUCKET</key>
	<string>monteirolojjja-ems.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302834322127:ios:e425e41910af24170c85ba</string>
</dict>
</plist>